[submodule "cmsi186-programming-lab"]
	path = cmsi186-programming-lab
	url = https://github.com/dmoini/cmsi186-programming-lab.git
[submodule "cmsi281-data-structures"]
	path = cmsi281-data-structures
	url = https://github.com/dmoini/cmsi281-data-structures.git
[submodule "cmsi282-algorithms"]
	path = cmsi282-algorithms
	url = https://github.com/dmoini/cmsi282-algorithms.git
[submodule "cmsi284-computer-systems-organization"]
	path = cmsi284-computer-systems-organization
	url = https://github.com/dmoini/cmsi284-computer-systems-organization.git
[submodule "cmsi370-interaction-design"]
	path = cmsi370-interaction-design
	url = https://github.com/dmoini/cmsi370-interaction-design.git
[submodule "cmsi386-programming-languages"]
	path = cmsi386-programming-languages
	url = https://github.com/dmoini/cmsi386-programming-languages.git
[submodule "cmsi485-artificial-intelligence"]
	path = cmsi485-artificial-intelligence
	url = https://github.com/dmoini/cmsi485-artificial-intelligence.git
[submodule "cmsi371-computer-graphics"]
	path = cmsi371-computer-graphics
	url = https://github.com/dmoini/cmsi371-computer-graphics
[submodule "cmsi355-computer-networks"]
	path = cmsi355-computer-networks
	url = https://github.com/dmoini/cmsi355-computer-networks
[submodule "cmsi387-operating-systems"]
	path = cmsi387-operating-systems
	url = https://github.com/dmoini/cmsi387-operating-systems
[submodule "cmsi299-algorithms-laboratory"]
	path = cmsi299-algorithms-laboratory
	url = https://github.com/dmoini/cmsi299-algorithms-laboratory
[submodule "cmsi488-language-translation-and-implementation"]
	path = cmsi488-language-translation-and-implementation
	url = https://github.com/dmoini/cmsi488-language-translation-and-implementation
[submodule "casper"]
	path = casper
	url = https://github.com/dmoini/casper
